body {
    padding-top: 50px;
}

h1 {
    color:#6FB219;
}

.strike-through {
    text-decoration: line-through;
}

.spinner {
    font-size: 48px;
    color:#6FB219;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
}