body {
    padding-top: 50px;
}

h1 {
    color:#6FB219;
}

.strike-through {
    text-decoration: line-through;
}

.spinner {
    font-size: 48px;
    color:#6FB219;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
}


.btn-delete {
    color: red;
    background-color: #ffffff;
    border-color: red;
}

.btn-delete:hover {
    color: #ff420f;
    font-weight: bold;
}

.btn-delete:visited {
    color: red;
}

.btn-delete:active {
    color: red;
}

.btn-undelete {
    color: #6FB219;
    background-color: #ffffff;
    border-color: #6FB219;
}

.btn-undelete:hover {
    color: #6FB219;
    font-weight: bold;
}

.btn-undelete:visited {
    color: #6FB219;
}

.btn-undelete:active {
    color: #6FB219;
}
