<!DOCTYPE html>
<!--[if lt IE 10]><p class=chromeframe>Your browser is <b><em>ancient!</em></b> Please <a href="http://browsehappy.com/">upgrade to a more modern browser</a> to view this site.</p><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="308589977906-f6gr28rqtlmnjtmoj6soc8rinlfqe2a1.apps.googleusercontent.com">
    <link rel="icon" href="images/favicon.ico">

    <title>UltiAnalytics Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- Font awesome -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="images/ultianalytics-logo-green.png"></a>
            <span style="position:absolute; right: 5%;">
                <button class="navbar-brand borderless-button" style="font-size: medium;display: none" ulti-logoff-button>Logoff</button>
            </span>
        </div>
    </div>
</nav>

<div class="container" ulti-app>

    <h1>Website Admin</h1>
    <div style="color: gray" ulti-user></div>
    <div ulti-signon style="margin-top: 40px">
        <div>Sign in with the google identity you used to upload games</div>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="margin-top: 20px"></div>
    </div>

    <div ulti-app-content style="display: none">
        <div ulti-teams-no-teams style="display:none">
            <h4><br><br><b>No Data</b><br><br>This tool is for administering website data uploaded from your iOS or Android device but you don't have a team uploaded yet.<br><br>Upload from our phone or tablet and refresh this page.</h4>
        </div>

        <div ulti-teams-container>
            <div ulti-team-header>
                <div>
                    <div ulti-team-selector style="margin-top: 20px"/>
                </div>
                <br>
                <div ulti-team-basic-info>
                    <div>Team ID: <b><span  ulti-team-cloudid/></b></div>
                    <div><a ulti-stats-site-link>Team Website</a></div>
                </div>
            </div>
            <br/>

            <div ulti-team-detail>
                <ul class="nav nav-pills" ulti-tab>
                    <li role="presentation" class="active" ><a href="#" ulti-tab-choice="settings">Settings</a></li>
                    <li role="presentation"><a href="#" ulti-tab-choice="games">Games</a></li>
                    <li role="presentation"><a href="#"  ulti-tab-choice="players">Players</a></li>
                </ul>
                <div ulti-team-detail-content style="margin-top: 30px">
                     <!-- Modal -->
                    <div class="modal fade" id="ulti-dialog" role="dialog">
                        <div class="modal-dialog" ulti-dialog-content>
                            <!-- Modal content (replaced before displayed) -->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- End Modal content -->
                        </div>
                    </div>
                    <div ulti-team-detail-settings class="hidden"></div>
                    <div ulti-team-detail-games class="hidden"></div>
                    <div ulti-team-detail-players class="hidden"></div>
                </div>



            </div>
        </div>

        <div class="spinner"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

</div>

<!-- ****************************** TEMPLATES  ****************************** -->

<script id="ulti-modal-template" type="text/template">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color: white"><%= title %></h4>
        </div>
        <div ulti-dialog-view-content/>
    </div>
</script>

<script id="ulti-team-password-dialog-content-template" type="text/template">
    <div class="modal-body">
        <input type="text" class="form-control" placeholder="New Password" ulti-password-text value="<%= team.get('password') %>"/>
    </div>
    <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-primary" ulti-password-button-save>Save</button>
        <button type="button" class="btn btn-primary" ulti-password-button-remove>Remove</button>
        <button type="button" class="btn btn-primary" ulti-password-button-cancel>Cancel</button>
    </div>
</script>

<script id="ulti-game-import-dialog-content-template" type="text/template">
    <form method="post" ulti-game-import-form>
        <div class="modal-body">
            Browse to the game export file (.iexport file extension) on your computer and then press <b>Import</b>.
            <br/><br/>
            <span class="file-input btn btn-primary btn-file">
                Browse to file...<input type="file" ulti-import-select-file-input>
            </span><br/><br/>
            <span ulti-import-selected-file></span>
        </div>
        <div class="modal-footer" style="text-align: center">
            <input type="button" class="btn btn-primary" value="Import" ulti-import-button-import>
            <button type="button" class="btn btn-primary" ulti-import-button-cancel>Cancel</button>
        </div>
    </form>
</script>

<script id="ulti-game-versions-dialog-content-template" type="text/template">
    <div class="modal-body">
        <div>You can replace this game&apos;s data with a version previously stored.  To replace this game, pick a version from the list and click the Replace button.</div>
        <br>
        <div>NOTE: You will not lose the current version of this game if you replace it.  To undo your action simply replace the version with the original you replaced.</div>
        <br>
        <div>Current Version: <br>
            <span><b><%= currentGameVersion == null? '?' : currentGameVersion.fullDescription() %></b></span>
        </div>
        <br>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><%= selectedGameVersion.fullDescription() %>&nbsp;&nbsp;&nbsp;
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <% _.each(nonCurrentGameVersions, function(gameVersion) { %>
                <li><a href="#" ulti-game-version-choice="<%= gameVersion.get('keyIdentifier') %>"><%= gameVersion.fullDescription() %></a></li>
                <% }); %>
            </ul>
        </div>
    </div>
    <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-primary" ulti-versions-button-replace>Replace</button>
        <button type="button" class="btn btn-primary" ulti-versions-button-cancel>Cancel</button>
    </div>
</script>

<script id="ulti-players-merge-delete-dialog-content-template" type="text/template">
    <div class="modal-body">
        <div ulti-players-merge-dialog-description>
            Merge player data from player: <b><%= player.get('name') %></b>
            <br><br>
            You are choosing to move all of <b><%= player.get('name') %></b>'s data to another player. <b><%= player.get('name') %></b> will be deleted when complete.
            Choose the other player to whom the data should be moved and then click Merge.
            <br><br>
            Select player to receive <b><%= player.get('name') %></b>'s data:
        </div>
        <div ulti-players-delete-dialog-description>
            Delete player: <b><%= player.get('name') %></b>
            <br><br>
            When you delete this player the events associated with him/her must be moved to another player (or Anonymous). Choose the other player to whom the events should be moved and then click Delete.
            <br><br>
            Select player to receive <b><%= player.get('name') %></b>'s events:
        </div>
        <br>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><%= selectedPlayer.get('name') %>&nbsp;&nbsp;&nbsp;
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <% _.each(otherPlayers, function(player) { %>
                <li><a href="#" ulti-player-choice="<%= player.get('name') %>"><%= player.get('name') %></a></li>
                <% }); %>
            </ul>
        </div>
    </div>
    <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-primary" ulti-players-button-action><%= actionName %></button>
        <button type="button" class="btn btn-primary" ulti-players-button-cancel>Cancel</button>
    </div>
</script>

<script id="ulti-players-edit-names-dialog-content-template" type="text/template">
    <div class="modal-body">
        <div>
            Edit names for player: <b><%= player.get('name') %></b>
        </div>
        <br>
        <div class="alert alert-danger" role="alert" style="display:none" ulti-player-nickname-error></div>
        <div>
            Nickname (also ID for this player):
            <br>
            <input type="text" class="form-control" ulti-player-nickname value="<%= player.get('name') %>" maxlength="8"/>
        </div>
        <br><br>
        <div>
            Display first name:
            <br>
            <input type="text" class="form-control" ulti-player-first-name value="<%= player.get('firstName') %>"/>
        </div>
        <br>
        <div>
            Display last name:
            <br>
            <input type="text" class="form-control" ulti-player-last-name value="<%= player.get('lastName') %>"/>
        </div>
    </div>
    <div class="modal-footer" style="text-align: center">
        <div class="alert alert-danger" role="alert" style="display:none" ulti-player-name-error></div>
        <button type="button" class="btn btn-primary" ulti-players-button-save>Save</button>
        <button type="button" class="btn btn-primary" ulti-players-button-cancel>Cancel</button>
    </div>
</script>

<script type="application/javascript">

    function onSignIn(googleUser) {
        GoogleUser = googleUser;
        require(['js/main']);
    };

</script>

<!-- ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/require.js"></script>
<script src="https://apis.google.com/js/platform.js"></script>
</body>
</html>