  <form method="post" ulti-game-import-form>
      <div class="modal-body">
          Browse to the game export file (.iexport file extension) on your computer and then press <b>Import</b>.
          <br/><br/>
          <span class="file-input btn btn-primary btn-file">
              Browse to file...<input type="file" ulti-import-select-file-input>
          </span><br/><br/>
          <span ulti-import-selected-file></span>
      </div>
      <div class="modal-footer" style="text-align: center">
          <input type="button" class="btn btn-primary" value="Import" ulti-import-button-import>
          <button type="button" class="btn btn-primary" ulti-import-button-cancel>Cancel</button>
      </div>
  </form>