<div class="dropdown">
    <button class="btn btn-default dropdown-toggle<%= selectedTeam.toJSON().deleted ? ' strike-through' : ''%>" type="button" data-toggle="dropdown"><%= _.escape(selectedTeam.get('nameWithSeason')) %>&nbsp;&nbsp;&nbsp;
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <% _.each(teams, function(team) { %>
        <li class= "<%= team.get('deleted') ? 'strike-through' : ''%>"><a href="#" ulti-team-choice="<%= team.get('cloudId') %>"><%= _.escape(team.get('nameWithSeason')) %></a></li>
        <% }); %>
    </ul>
</div>